.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bb {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.b--black-20 {
  border-color: rgba(0, 0, 0, .2);
}

.fw6 {
  font-weight: 600;
}

.lh-copy {
  line-height: 1.5;
}

.mw8 {
  max-width: 64rem;
}

.w-100 {
  width: 100%;
}

.overflow-auto {
  overflow: auto;
}

.bg-white {
  background-color: #fff;
}

.pa4 {
  padding: 2rem;
}

.pr3 {
  padding-right: 1rem;
}

.pb3 {
  padding-bottom: 1rem;
}

.pv3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.tl {
  text-align: left;
}

.f6 {
  font-size: .875rem;
}

.center {
  margin-right: auto;
  margin-left: auto;
}
